<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background:#20B2AA">
<div th:insert="HEADER"></div>
<form th:action = "@{/sub/{id}/edit(id=${subcategories.id})}" method="post" th:object="${subcategories}">
    <label style="color:#FFFFFF">Наименование</label>
    <input type="text"  th:value="${subcategories.getNames()}" style="text-align: center;margin-bottom: 20px" name="names" size="25" maxlength="200" >
    <div style="color: floralwhite" th:if="${#fields.hasErrors('names')}" th:errors="*{names}"></div><br>
    <label style="color:#FFFFFF">Категория</label>
    <select  name="name">
        <div th:each="element : ${categories}">
            <option th:text="${element.name}"></option>
        </div>
    </select>
    <button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del">Сохранить изменения</button>
</form>
<div th:each="el : ${subcategories}">
    <form th:action="'/sub/' + ${el.id} + '/remove'" method="post">
        <button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del">Удалить</button>
    </form>
</div>
</body>
</html>