<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="background:#20B2AA">
<div th:insert="HEADER"></div>
<form th:action = "@{/price/{id}/edit(id=${price.id})}" method="post" th:object="${price}">
  <label style="color:#FFFFFF">Услуга:</label>
  <input type="text"  th:value="${price.getNames()}" style="text-align: center;margin-bottom: 20px" name="names" size="25" maxlength="200" >
  <div style="color: floralwhite" th:if="${#fields.hasErrors('names')}" th:errors="*{names}"></div><br>
  <label style="color:#FFFFFF">Описание:</label>
  <input type="text"  th:value="${price.getDescription()}" style="text-align: center;margin-bottom: 20px" name="description" size="25" maxlength="500" >
  <div style="color: floralwhite" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div><br>
  <label style="color:#FFFFFF">Стоимость</label>
  <input type="number" th:value="${price.getCent()}" style="text-align: center;margin-bottom: 20px"   name="cent" size="25" maxlength="20" >
  <div style="color: floralwhite" th:if="${#fields.hasErrors('cent')}" th:errors="*{cent}"></div><br>
  <label style="color:#FFFFFF">Тренер</label>
  <select  name="names">
    <div th:each="element : ${trainer}">
      <option th:text="${element.names}"></option>
    </div>
  </select>
  <button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del">Сохранить изменения</button>
</form>
<div th:each="el : ${price}">
  <form th:action="'/price/' + ${el.id} + '/remove'" method="post">
    <button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del">Удалить</button>
  </form>
</div>
</body>
</html>