<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="background:#20B2AA">
<div th:insert="HEADER"></div>
<form th:action = "@{/shop/{id}/edit(id=${shop.id})}" method="post" th:object="${shop}">
  <label style="color:#FFFFFF">Адрес</label>
  <input type="text"  th:value="${shop.getAdress()}" style="text-align: center;margin-bottom: 20px" name="adress" size="25">
  <div style="color: floralwhite" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}"></div><br>
  <button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del">Сохранить изменения</button>
</form>
<div th:each="el : ${shop}">
  <form th:action="'/shop/' + ${el.id} + '/remove'" method="post">
    <button style="background: #FFC0CB; margin-bottom: 20px" type="submit" class="btn btn-del">Удалить</button>
  </form>
</div>
</body>
</html>